html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    margin: 50px auto;
    border: 1px solid black;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 127px;
}

.user-avatar {
    width: 34px;
    border-radius: 50%;
}