html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* typography */

p {
    margin: 0px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}

.poster-name {
    font-weight: 700;
}

.poster-location {
    font-size: 12px;
    font-weight: 400;
}

/* images */

.logo {
    width: 127px;
}

.user-avatar,
.poster-avatar {
    width: 34px;
    border-radius: 50%;
}

.post-image {
    width: 100%;
}

.btn-image {
    width: 25px;
}

/* buttons */

button {
    border: none;
    background: transparent;
}

button:hover {
    opacity: 0.5;
}

/* layout */

header {
    margin-top: 50px;
}

.container {
    width: 375px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px auto;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.post-header {
    padding: 10px 15px;
    display: flex;
    align-items: center; 
    gap: 7px;
}

.btn-container {
    margin-top: 10px;
    margin-left: 10px;
}